
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
 background-color: greenyellow;
  margin: auto;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  border: 1px solid #777;
}

#cabecera { clear: both; }
#menu { clear: both; }
#lateral { float: left; width: 20%;}
#contenido { float: right; width: 78%; }

#contenido #principal { float: left; width: 78%; 
background-color: aliceblue;
}

#contenido #secundario { float: right; width: 20%; 
background-color: aqua;
}
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; 
background-color: chocolate;
}
#cabecera #buscador { float: right;}

/*-- Menu ------------------------------------------------------------*/
#menu_principal li { display: inline; float: left; 
border: 1px solid red;
margin-right: 10px;
padding: 3px;
background-color: burlywood;}

#menu_principal a{
text-decoration: none;
font-family: Impact;}

#menu_principal a:hover{
color: violet;}

#menu_principal a:active{
color: black;
}
/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }
#cabecera,
#menu,
#lateral,
#lateral #noticias,
#lateral #publicidad,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
  padding: .5em;
}

#lateral {
  padding: 0;
  background-color: aqua;
}

#cabecera {
  padding: 1em;
  background-color: blueviolet;
}

#menu {
  margin-bottom: .5em;
  background-color: fuchsia;
}

#contenido {
  width: 77%;
  padding: 0;
}

#contenido #principal {
  width: 73%;
}

#pie {
  padding: .5em 0;
  margin-top: 1em;
  background-color: yellow;
}

#contenido #principal .articulo {
  margin-bottom: 1em;
  background-color: blue;
}

#contenido #principal .articulo img {
  margin: .5em;
}

#lateral #publicidad {
  margin-top: 1em;
}
